body {
	max-width: 960px;
	min-width: 960px;
	background-image: url("../images/cork-wallet.png");
}

h1 {
	color: white;
	background-color: brown;
}

#heading {
	background-color: brown;
	height: 66px;
	width: 27%;
	margin-top: -20px;
	border-radius: 26px;
}

#instruction {
	font-weight: bold;
	font-size: 16px;
	color: green;
	background-color: tan;
	height: 300px;
	width: 52%;
	border-radius: 25px;
}

#instruction p {
	padding-top: 15px;
	margin-left: 5px;
}

#randomNumber {
	font-size: 120px;
	text-align: center;
	float:left;
	color: purple;
	height: 150px;
	width: 400px;
	background-color: green;
	margin-top: 15px;
	border-radius: 25px;
}

#scoreboard {
	float: right;
	color: black;
	background-color: teal;
	height: 130px;
	margin-right: 48%;
	margin-top: 15px;
	padding: 10px;
	border-radius: 25px;
	color: white;
}

#gems {
	width: 50%;
}

img {
	cursor: pointer;
	display: inline-block;
	height: 100px;
	width: 100px;
	margin-top: 15px;	
}

#pinkGem {
	border: 2px solid black;
	border-radius: 10px;
}

#blueGem {
	border: 2px solid black;
	margin-left: 5px;
	border-radius: 10px;
}

#greenGem {
	border: 2px solid black;
	margin-left: 5px;
	border-radius: 10px;
}

#rubyGem {
	border: 2px solid black;
	margin-left: 5px;
	border-radius: 10px;
}
#totalScore {
	margin-right: 45%;
	color: white;
	background-color:teal;
	width: 300px;
	height: 30px;
	border-radius: 25px;
	text-align: center;
	font-size: 24px;
}


#totalNumber {
	color: white;
	text-align: center;
	font-size: 125px;
	background-color:teal;
	width: 300px;
	height: 150px;
	border-radius: 25px;
	margin-top: 10px;
}